<%= sidebar do |menu| %>
  <%= menu.element("Nouveau type", Icons::WHITE_PLUS.html_safe, :new_admin_type_path) %>
<% end %>

<h2>Gestion des types</h2>
<table id="table-type">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Génération</th>
      <% @attr.each do |attr, translation| %>
        <th><%= translation %></th>
      <% end %>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @types.each do |type| %>
      <tr class="<%= "deactivate-color" unless type.active %>">
        <td><%= type.name %></td>
        <td><%= type.generation.name %></td>
        <% @attr.each do |attr, translation| %>
          <td><%= display_sensibility(type.send(attr)) %></td>
        <% end %>
        <td>
          <%= link_to Icons::EYE.html_safe, admin_type_path(type.id) %>
          <%= link_to Icons::PENCIL.html_safe, edit_admin_type_path(type.id) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>