<%= sidebar do |menu| %>
  <%= menu.element("Retour à la liste", Icons::WHITE_ARROW_LEFT.html_safe, :admin_indices) %>
  <%= menu.element("Voir l'index", Icons::WHITE_EYE.html_safe, :admin_index) %>
<% end %>
<h2>Modifier l'index <%= @index.id %></h2>
<%= render partial: "admin/indices/form" %>