<% flash_msg = flash if flash %>

<!DOCTYPE html>
<html>
  <head>
    <title>HakaiKousen</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render partial: "layouts/navbar"%>
    <%=  %>
    <%= render 'layouts/popup_messages', {flash: flash_msg} %>
    <div class="flex-column-center">
      <%= yield %>
    </div>
  </body>
</html>
