<% flash_msg = flash if flash %>

<!DOCTYPE html>
<html>
  <head>
    <title>HakaiKousen</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= navbar_content %>
    <main id="main-content" class="<%= "main-width" if controller_path.start_with?('admin/') %>">
      <%= render 'layouts/popup_messages', {flash: flash_msg} %>
      <%= image_tag 'logo.png', class: "logo" %>
      <h1>Hakai Kousen, le JDR stratégique Pokémon</h1>
      <section class="w-100 flex-column-center">
        <%= yield %>
      </section>
    </main>
    <%= render 'layouts/footer' %>
  </body>
</html>
